<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.danang.bpcamikom">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoamikom"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoamikom"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".DetailLowonganAdminActivity" />
        <activity android:name=".EditLowonganActivity" />
        <activity android:name=".DetailLowonganUserActivity" />
        <activity
            android:name=".ListLowonganUser"
            android:label="Daftar Lowongan" />
        <activity
            android:name=".ListLowongan"
            android:label="Daftar Lowongan" />

        <activity
            android:name=".TentangBPCActivity"
            android:label="Tentang BPC" />
        <activity android:name=".UpdateDataDiriActivity" />
        <activity
            android:name=".LoginBPCActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardMahasiswa"
            android:label="Dashboard Mahasiswa" />
        <activity
            android:name=".DashboardAdminBPC"
            android:label="Dashboard Admin BPC" />
        <activity
            android:name=".InputLowonganBPC"
            android:label="Input Lowongan" />
        <activity
            android:name=".IsiDataDiriActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterMhsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginMhsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>